<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ba1jaa</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- Include Sticky Navbar -->
    <%- include("./partials/header.ejs") %>

    <!-- Main Layout -->
    <main class="main-layout">
      <div class="profile-wrapper">
        <img
          src="/css/images/Kid_Might_Guy.webp"
          alt="profile picture"
          id="profile"
        />
        <p class="logo">Hey, I'm Baljaa!</p>
      </div>
      <p class="tagline">No pain, No gain</p>
      <p class="role">
        A Computer Science student with an interest in web development.
      </p>
      <p class="location">📍 Ulaanbaatar, Mongolia 🇲🇳</p>
      <div class="about">
        <section class="section">
          <h2>Skills</h2>
          <div class="skills">
            <strong>Languages:</strong> JavaScript, Python, C, C++
          </div>
          <div class="skills">
            <strong>Frameworks:</strong> ExpressJS, Bootstrap
          </div>
          <div class="skills">
            <strong>Backend:</strong> Node.js, REST APIs,
          </div>
          <div class="skills">
            <strong>Databases:</strong> Postgres, Oracle SQL
          </div>
          <div class="skills"><strong>Practices:</strong> Git/GitHub</div>
        </section>

        <section class="section">
          <h2>Experience</h2>
          <div class="job">
            <h3>Empty</h3>
            <p class="date"><NAv></NAv></p>
            
            <ul>
              <li>NA.</li>
              <li>NA.</li>

            </ul>
            <div class="tags">
              <!-- NextJS, Supabase, React Native, Expo, ML, Tauri -->
            </div>
          </div>

          <div class="job">
            <h3>NA</h3>
            <p class="date">NA</p>
            <ul>
              <li>NA.</li>
              <li>NA.</li>
    
            </ul>
            <!-- <div class="tags">Angular, React, .NET, Microservices</div> -->
          </div>
        </section>

        <section class="section">
          <h2>Education</h2>
          <h3>Bachelor of Computer Science</h3>
          <p class="date"> University Of Debrecen</p>
        </section>
      </div>
      <div class="ask">
        <form action="/submit" method="post">
          <label for="question">What else do you want to know about me?</label>
          <input
            type="text"
            id="question"
            name="question"
            placeholder="Ask me anything"
          />
          <div class="button-group">
            <input type="submit" name="action" value="Send" />
            <input type="submit" name="action" value="Clear" />
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
